---
import CertificatesCarousel from "../react/CertificatesCarousel";
import SectionHeader from "../react/SectionHeader";


---

<section class="">
    <SectionHeader hasAll={false} title="Certificados" transition:name="sec-header"/>
    <div class="mt-2">
        <CertificatesCarousel client:load />
    </div>
</section>