---
import { PencilSimpleLine } from "phosphor-react"
import SectionHeader from "../components/SectionHeader"
import HomeLayout from "../layouts/HomeLayout.astro"
---

<HomeLayout title="Inicio | Blog">

	<main class="w-full h-full flex flex-col px-4" transition:animate="fade">
		<section>
			<SectionHeader hasAll title="Blog" icon={PencilSimpleLine}/>

		</section>
	</main>
</HomeLayout>
