---
import HomeLayout from "../layouts/HomeLayout.astro"
import '../globals.css'

import Projetos from "@/components/astro/Projetos.astro"
import Blog from "@/components/astro/Blog.astro"
import Sobre from "@/components/astro/Sobre.astro"


---

<HomeLayout title="Relancio Borges">

	<main class="w-full h-full flex flex-col gap-16 px-2" transition:animate="slide">
		<Projetos/>
		<Sobre/>
		<Blog/>
	</main>
	
</HomeLayout>
