---
import { CaretRight } from "phosphor-react"
import SectionHeader from "../components/SectionHeader"
import HomeLayout from "../layouts/HomeLayout.astro"
import FavoriteTech from "../components/FavoriteTech.astro"
---

<HomeLayout title="Inicio | Sobre">

	<main class="w-full h-full flex flex-col px-4" transition:animate="slide">
		<section>
			<SectionHeader hasAll={false} title="Sobre" transition:name="sec-header"/>
			<section class="flex  justify-between gap-8 py-8">
				<div class="w-1/2 h-full flex flex-col gap-8">
					<p class="text-lg">I'm a software developer who  makes open-source projects and writes about life, code, design, and  more. Welcome to my digital garden. 🌱
					</p>
					<p class="text-lg">I'm a software developer who  makes open-source projects and writes about life, code, design, and  more. Welcome to my digital garden. 🌱
					</p>

					<div class="grid grid-cols-2 gap-2">
						<FavoriteTech tech="Typescript" />
						<FavoriteTech tech="React" />
						<FavoriteTech tech="Next JS" />
						<FavoriteTech tech="Astro" />
						<FavoriteTech tech="Java" />
					</div>
				</div>
				<div class="relative border-2 border-tag w-[320px] h-[304px]">
					<img src="http://github.com/RelancioBorgesDev.png" class="w-[320px]  bg-tag absolute left-4 top-4 shadow-2xl"/>
				</div>
			</section>
		</section>
	</main>
</HomeLayout>
