---
import Tag from "./Tag";


---

<div class="w-[361px] h-[369px] bg-all-header rounded-lg flex flex-col gap-2 shadow-xl hover:scale-110 duration-300 ease-in-out transition-all cursor-pointer">
    <header>
        <div class="w-[361px] h-[190px] bg-slate-950 rounded-t-lg bg-clip shadow-xl"></div>
    </header>
    <div class="px-4">
        <h1 class="text-sm-title font-bold drop-shadow-2xl">Project Title</h1>
        <p class="text-description">Are younger people smarter? Are older people wiser? Living longer affects the brain, but exactly how may surprise you</p>
    </div>
    <footer class="flex items-center justify-between px-4">
        <div class="flex items-center gap-2">
            <Tag tag="Tailwind"/>
            <Tag tag="Typescript"/>
        </div>
        <div class="rounded-full border-2 border-light-border px-4 py-2 bg-tag-3 font-bold text-sm">2024</div>
    </footer>
</div>

<style>
    .bg-clip{
        clip-path: polygon(0 0, 100% 0%, 100% 93%, 49% 87%, 0 93%);
    }
</style>