---
import { ArrowBendDownLeft } from "phosphor-react";
---

<a href="javascript:history.back()" class="absolute top-2 left-4" >
    <button class="flex items-center gap-2 bg-tag-2 px-4 py-2 rounded-lg hover:brightness-75">
        <ArrowBendDownLeft size={22} />
        Voltar
    </button>
</a>