---
import { FaLinkedin, FaGithub } from "react-icons/fa";
import { Lightbulb, Code, PencilSimpleLine } from "phosphor-react"

import NavLink from "./NavLink"
const pathname = Astro.url.pathname

const navItems = [
    {
        link: "/",
        link_title: "Projetos",
        icon:  Code
    },
    {
        link: "/sobre",
        link_title: "Sobre",
        icon:  Lightbulb
    },
    {
        link: "/blog",
        link_title: "Blog",
        icon:  PencilSimpleLine
    },
]
---

<nav class="w-3/6 max-lg:w-full font-rubik flex flex-col gap-8 relative">
    <header>
        <h1 class="text-medium-title max-sm:text-sm-title font-bold">Relancio Borges</h1>
        <p class="text-description italic text-slate-300/70 font-bold">Desenvolvedor especialista em transformar ideias em projetos.</p>
    </header>

    <ul class="text-nav-items flex flex-col max-lg:gap-4 gap-2">
        {navItems.map(({ link, link_title}) => (
            <NavLink link={link} link_title={link_title} pathname={pathname}/>
        ))}   
    <ul/>
    <footer class="text-main flex items-center gap-4 ">
        <a href="#">
            <FaGithub size={28}/>
        </a>
        <a href="#">
            <FaLinkedin size={28}/>
        </a>
    </footer>

</nav>

