---
import Tag from "./Tag";


---

<div class="w-[361px] h-[369px] bg-all-header rounded-lg flex flex-col gap-2">
    <header class="w-full px-6 pt-4 flex items-center justify-between">
        <div class="rounded-full border-2 border-light-border px-4 py-2 bg-tag-2">Front End</div>
        <div class="rounded-full border-2 border-light-border px-4 py-2 bg-tag-3">2024</div>
    </header>
    <div class="w-full flex flex-col px-6 gap-4">
        <h1 class="text-sm-title font-bold drop-shadow-2xl">Project Title</h1>
        <p class="text-description">Are younger people smarter? Are older people wiser? Living longer affects the brain, but exactly how may surprise you</p>
        <div class="flex items-center gap-2">
            <Tag tag="Tailwind"/>
            <Tag tag="Typescript"/>
        </div>
    </div>
    <footer>
        <div class="w-[361px] h-[190px] bg-slate-950 rounded-b-lg"></div>
    </footer>
</div>