---
import Head from "./Head.astro";

type Props = {
	title: string
}

const { title } = Astro.props

---

<html lang="pt-BR">
	<Head title={title}/>
	<body class="bg-zinc-900 text-white h-[100vh-96px] font-poetsen-one relative">
		<section>
            <slot/>
        </section>
	</body>
</html>