---
import Head from "./Head.astro";

type Props = {
	title: string
}

const { title } = Astro.props

---

<html lang="pt-BR">
	<Head title={title}/>
	<body class="bg-home h-[100vh-96px] text-main font-inter relative">
		<section>
          
            <slot/>
        </section>
	</body>
</html>